[2015-04-16 16:55] mphasize opened #1 "Component cannot find import"
Hi,

I'm trying to follow the README for extending the `range-slider` component, unfortunately I am getting an error:

`Could not find module `ember-cli-nouislider/components/range-slider`

I'm using Ember 1.11.1 and ember-cli 2.3.

Any ideas how to solve this issue?

(Btw. I can perfectly use the `range-slider` component from the addon in my application, I just cannot import it for extending...)

[2015-04-17 08:51] kennethkalmer commented on #1
Thanks for reporting! I'll have a look later today, my plan is to hook up ember-many to ensure I'm testing against a lot of different versions and remain compatible.

[2015-04-17 16:33] kennethkalmer commented on #1
Busy upgrading the underlying ember-cli version used to built the project with to 0.2.3, and some other general maintenance and hoping to sort this out as part of the general housecleaning...

[2015-04-17 21:32] kennethkalmer commented on #1
Just waiting on travis, things should be good for a new release momentarily

[2015-04-17 21:35] #1 closed

[2015-04-17 21:47] kennethkalmer commented on #1
@mphasize thanks for trying out ember-cli-nouislider and reporting the issue!

[2015-04-18 08:34] mphasize commented on #1
Thanks for fixing it so fast!

[2015-04-23 22:04] papricek opened #2 "Missing template processor"
When installing last version (0.3.0), when running "ember server", I get the following:

[code]

Any ideas?

[2015-04-24 07:24] papricek commented on #2
resolved by ember-cli upgrade! ;)

[2015-04-24 07:24] #2 closed

[2015-04-24 08:53] kennethkalmer commented on #2
Glad you won, and thanks for using ember-cli-nouislider!

[2015-05-07 15:50] timrwilliams opened #3 "Support for "set" and "slide" events"
Hi Kenneth, thanks a lot for packaging this. I think its worth adding in support for the **set** and **slide** events from noUiSlider. It should be as simple as adding these two lines in range-slider.js exactly as you're capturing the **change** event.

    this.$().on("slide", function() {
      _this.sendAction("slide", _this.slider.val());
    });
    this.$().on("set", function() {
       _thi

[2015-05-07 19:14] kennethkalmer commented on #3
Thanks for the suggestion @timrwilliams! I'll get cracking on this quickly and get a version up for testing. I'd like to know which part of the docs need love so I can fix that too!

[2015-05-07 21:38] kennethkalmer commented on #3
@timrwilliams I hooked up the _slide_ event, check the docs in b81d26d592 for some examples. If this looks good I'll cut a release, and then we need to chat through the _set_ event. I'm not really sure if that is applicable in an Ember context...

[2015-05-08 05:53] snc commented on #3
Nice, I'm looking for this feature, too :+1:

[2015-05-08 07:57] kennethkalmer commented on #3
Great stuff! Let me know if you'll are happy with the API for _slide_ so I can publish before the weekend, and then we can discuss _set_. In my tired state I did everything on master last night, so no PR :(

[2015-05-08 09:46] timrwilliams commented on #3
Looks good, kudos for creating new docs too. To be honest I'm only using the **slide** event so don't have any concerns leaving out **set** until somebody comes up with a real world use case.

[2015-05-09 10:38] kennethkalmer commented on #3
Just pushed up 0.4.0 up to npm with the _slide_ action. Thanks for the prod and the feedback!

[2015-05-09 10:38] #3 closed

[2015-06-16 18:30] henrymazza opened #5 "sendAction() not working on 1.12"
At least on Ember 1.12.1 the line:
[code]
works only if you change it to:
[code]
It is, `sendAction()` must receive the name of the property that holds the action’s name as a value and not the name itself!

[2015-06-17 05:48] kennethkalmer commented on #5
Thanks so much for reporting! Will get a test in place and an update out a bit later today!

[2015-06-17 19:10] knownasilya commented on #5
Would love a fix :+1:

[2015-06-17 20:20] knownasilya commented on #5
See my PR.

[2015-06-18 09:46] kennethkalmer commented on #5
I was just thinking through the API a bit, and I'm wondering if we shouldn't rather omit an error if the values of the `change` and `slide` attributes that were passed in _aren't_ strings. Hardcoding the `change` and `slide` action names feels wrong to me.

I was also skimming through the changelogs and I could not find any announced changes to `sendAction` in components. However, I did find ember

[2015-06-18 17:23] knownasilya commented on #5
@kennethkalmer The convention is to have a static API that isn't changed. The component shouldn't care what the user passes in for the action.

[code]

[code]

`myAction` will always be the same, because that is the API you are adhering too for your component. In 1.13, the new function syntax is available on `this.attrs.myAction()` while the old is still `sendAction`. This issue is for making this

[2015-06-18 18:39] henrymazza commented on #5
I think you shouldn’t expose these events through the component, it’s very un-Ember. Basically the action will update a value! I think it should just set the received `streamingBinding` and set it.
[code]

[2015-06-18 19:01] henrymazza commented on #5
I think the events shouldn’t be exposed, it’s not very Ember*y*. The action will update a value, so just do it directly inside the component, the component exists to take away this complexity from your code.

Also, it’s what every built-in ember view/component do, it sets the `streamingBinding` right upon being edited -- se how an `input` behaves. I’d agree that for the slider the event rate may b

[2015-06-18 19:30] knownasilya commented on #5
@henrymazza I disagree, because Ember is headed into the "data down, actions up" methodology, like react, and this would be completely agains that. It causes observer hell if you want to do anything mildly complex.

[2015-06-18 20:10] henrymazza commented on #5
Ok. So are they gonna change the way the input components work today? 

-- 
Fabio Mazarotto

On 18 de junho de 2015 at 16:30:23, Ilya Radchenko (notifications@github.com) wrote:

@henrymazza I disagree, because Ember is headed into the "data down, actions up" methodology, like react, and this would be completely agains that. It causes observer hell if you want to do anything mildly complex.

—
Rep

[2015-06-18 20:13] knownasilya commented on #5
@henrymazza you will be able to do `<input type="text" onchange=(action 'name')>`

[2015-06-18 20:19] henrymazza commented on #5
So `onslide` and `onchange` FTW?

-- 
Fabio Mazarotto

On 18 de junho de 2015 at 17:13:19, Ilya Radchenko (notifications@github.com) wrote:

@henrymazza you will be able to do <input type="text" onchange=(action 'name')>

—
Reply to this email directly or view it on GitHub.

[2015-06-18 20:20] knownasilya commented on #5
sounds like a win :+1:

[2015-06-18 22:25] kennethkalmer commented on #5
Thanks for the input guys, I'll review the RFC too and see what `onchange` and `onslide` would look like and work in the deprecation messages accordingly. If is looks good, I'll bump to a 1.0.0 to signal a major API breakage.

Are we happy with only supporting 1.13 and up from this API change?

[2015-06-18 22:48] #5 closed

[2015-06-18 22:50] kennethkalmer commented on #5
Hmm, closed as a side-effect of merging in #6, but the question around 1.13 and API changes still hold

[2015-06-22 08:15] carsomyr opened #7 "Build Bower package"
Hi, have you considered making `rangeslider.js` independent of Ember CLI? Not all of us use it because of the half-working transpiler and opinionated asset pipeline. I was wondering if you could provide a version of the file in as a standard RequireJS module that only uses AMD when it's detected:

[code]

[2015-06-22 10:14] kennethkalmer commented on #7
I'll have to do some research, but this does sound like a reasonable request!

[2015-06-29 21:55] blimmer opened #8 "This package is broken with noUiSlider v8+"
Because they removed the jQuery dependency.

[2015-07-02 20:30] #8 closed

[2015-07-06 22:33] davidgoli opened #12 "Not all NoUISlider options are supported"
Missing at least `format` and `pips`

http://refreshless.com/nouislider/slider-read-write/
http://refreshless.com/nouislider/pips/

[2015-07-08 13:19] knownasilya opened #15 "1.13/2.0 Support"
Mainly it's the new computed property syntax. But maybe we should wait for Ember 2.0 to see what else gets removed/changed.

Would require a major version bump.

[2015-07-08 17:19] kennethkalmer commented on #15
This might be a good thing to mark a 1.0 release.

[2015-07-08 17:21] kennethkalmer commented on #12
Closing thanks to your wonderful contribution in #13. Just adding a note that `get` and `set` should be handled by bindings/actions as it currently is... Unless I'm missing totally obvious :grin:

[2015-07-08 17:21] #12 closed

[2015-08-06 23:07] brenoinojosa opened #17 "[Question] Slider won't show up"
Hi,

I'm new to ember and just came across nouislider (really neat plugin btw ).
So, I did install ember-cli-nouislider via ember install ember-cli-nouislider
Then I included it in my .hbs like this: {{range-slider start=13 range=100 start=0 connect="lower" behavior="drag" change="changedAction"}}

Should it show up automatically or do I need to change something else? I followed every step but it

[2015-08-17 19:36] kennethkalmer commented on #17
Hi @brenoinojosa, apologies for not getting back sooner! Did you manage?

[2015-08-18 12:05] brenoinojosa commented on #17
Yeah, fortunately, I did manage to get it to work :)
I was just new to Ember haha. Thanks for the reply.

[2015-08-18 13:23] kennethkalmer commented on #17
No worries :)

[2015-08-18 13:23] #17 closed

[2015-08-18 13:24] kennethkalmer commented on #15
I pushed out 0.7.0 last night and all the tests pass just fine. Given the regressions fixed by #18 and #19 it might be better (for me) to have some integration tests in place before making it a 1.0 solid.

[2015-09-01 19:39] IsaiahJTurner opened #20 "Better Documentation"
For example, how can I bind the slider value to a property on my controller that when the controllers property changes, updates the slider. And, how can I use the `connect` property of the slider?

[2015-09-01 19:40] IsaiahJTurner commented on #20
Update: I'm crazy. The documentation was so good I didn't realize it was rewritten for Ember.

[2015-09-01 19:40] #20 closed

[2015-09-01 20:46] kennethkalmer commented on #20
@IsaiahJTurner thanks! Just a quick note, I was thinking of changing the color scheme to be more inline with Ember (ie, orange shades) so it is more distinct.

[2015-09-02 21:52] IsaiahJTurner commented on #3
How do I set the value? I tried changing the "start" value but that doesn't seem to update the slider.

[2016-02-17 03:57] samsebastian opened #23 "How to set style / class on slider?"
Is there a way or option to add classes to the slider element? ie `bg-success` etc?

I have a slider where the color of the bar needs to change based on the value of the slider, which I was able to do via jquery, but not sure how to pass it into the component in Ember?

Thanks :+1:

[2016-03-05 14:40] kennethkalmer commented on #23
Sorry for the late reply! What do you think would make for a good API to do this?

[2016-03-13 00:35] samsebastian commented on #23
Not sure about how to specifically do it within Noui but what I was aiming to do was just set the color via a computed property or something and then pass that property into the element? So even just something that was like `{{range-slider start=contact.rating step=5 change="change" classes="bg-success foo-class bar-class"}}` or something that appended the property to the classes in the slider?
Th

[2016-03-26 12:48] kennethkalmer commented on #15
I just released 0.8.0 based on ember-cli 2.4.2 and everything looks perfectly healthy. `ember-try` keeps testing against 1.13 to ensure that is covered.

Going to close this for now.

[2016-03-26 12:48] #15 closed

[2016-03-26 12:50] kennethkalmer commented on #7
Given how the ember landscape has now really embraced ember-cli, and even the notion that ember itself could just become an ember-cli addon (ember-data already is), I don't think this is worth pursuing anymore.

If this is still relevant, please open a PR with support for this.

Thanks for the feedback!

[2016-03-26 12:50] #7 closed

[2016-04-01 12:06] Ramblurr opened #24 "Default formatting functions break negative ranges"
The addon provides two default [format functions](https://github.com/kennethkalmer/ember-cli-nouislider/blob/773c52e2ba7d3cf344128d64501f57a866e6bced/addon/components/range-slider.js#L37) that by default just return the value they are passed.

This unfortunately breaks when a range has a negative component (e.g, min: -5, max: 5).

This is because nouislider's `setValues` function [casts the value

[2016-06-07 14:34] sandinosaso commented on #24
@Ramblurr Thank you this helped me with the same problem.

[2016-06-07 14:35] sandinosaso opened #27 "Deprecation warnings"
I am getting these deprecation warnings:

`DEPRECATION: A property of <project@view:-outlet::ember817> was modified inside the didInsertElement hook. You should never change properties on components, services or models during didInsertElement because it causes significant performance degradation. [deprecation id: ember-views.dispatching-modify-property]`

My environment:

[code]

[2016-06-09 13:13] Blackening999 opened #28 "Update the value as dragging changes"
Hey!
Nice plugin, however, it lacks of handler for "update" event. I want to show the sliding results instantly, like it is in original one:

[code]

source : http://refreshless.com/nouislider/

[2016-07-11 07:29] linearza opened #30 "Error: Slider was already initialized."
Getting this error when inserting multiple sliders on the same page.

Started looking into it this morning, and this issue might be related: https://github.com/leongersen/noUiSlider/issues/353

[2016-07-11 09:01] linearza commented on #30
It seems to fire the didInsertElement hook twice in each instance, not sure if its a case thats specific to our app but, a possible solution would be to check if the slider has been created before. Something like:

[code]

If thats acceptable I can create a PR for it

[2016-07-11 09:07] linearza commented on #30
https://github.com/kennethkalmer/ember-cli-nouislider/pull/31

[2016-07-11 21:52] kennethkalmer commented on #30
Hmm, `didInsertElement` should not run twice. I might be doing something in there that causes it to re-run and will have to have a look. Can you confirm that `willDestroyElement` is run in between? Maybe the cleanup is inadequate...

Thanks for the PR.

In the meanwhile, which ember versions are you using if I want to try and reproduce it.

[2016-07-11 21:59] kennethkalmer commented on #27
Thanks, will have a look!

[2016-07-11 22:13] kennethkalmer commented on #28
Thanks for the kind words!

The documentation is a bit lacking, sorry! But the event has been supported since 773c52e2.

[2016-07-11 22:13] #28 closed

[2016-07-11 22:22] Blackening999 commented on #28
Thanks for update!

[2016-09-30 07:48] tikijian opened #34 "With incorrect properties slider is not rendered. With no error messages."
When call to `noUiSlider.create()`  method failing inside a component `setup()` function,
component itself not being rendered. Bad thing, that it's failing silently, without any errors in console.

[code]

Wrapping

[code]

looks like a good quickfix.

![2016-09-30 10 47 59](https://cloud.githubusercontent.com/assets/1406569/18984469/694d87fc-86fb-11e6-863a-114d430128cc.png)

[2016-10-03 17:45] kennethkalmer commented on #34
Thanks for letting me know! I saw some errors in the console locally while merging some new PR's, but this does look good

[2016-10-26 01:56] jakeleboeuf opened #36 "Fastboot issues"
I'm still running into fastboot issues- The app is not crashing, but throws a dank js error and will not fully render the page.

[code]

[2016-10-26 02:02] jakeleboeuf commented on #36
I'm able to get around it by checking if fastboot is running, but this shouldn't be necessary?

[code]

[2016-11-08 20:27] robojukie opened #37 "set handlebar values through input form"
this feature works on noUiSlider, but not on the events page for ember slider. tried setting the value in my code with a function but the handle lags and doesn't move if I input more than 100+the current value

[2016-12-06 19:05] leadiato opened #41 "No getValues method available"
I couldn't find an easy way to get the current value(s) rather than using callback methods and locally save the last set value.
It will be great to expose a property to just get the currently selected value(s).

[2016-12-17 10:42] kennethkalmer commented on #37
@robojukie could you test on master and see if #38 resolves it? Otherwise could you give me a small gist that I can play with and get this sorted for you?

Thanks for using the addon and reporting the issue!

[2017-01-16 18:02] allthesignals commented on #20
Question on this: do I need to manage updating properties with a component action? Or is it possible to bind the properties to the slider? Sorry if this is already covered in the docs.

[2017-01-16 21:16] allthesignals opened #42 "Tooltips don't appear"
Using Ember 2.9
[code]
Tooltips don't seem to appear

![screen shot 2017-01-16 at 4 16 09 pm](https://cloud.githubusercontent.com/assets/5004319/21999255/210dbf0a-dc07-11e6-80d9-eb95e9aee05e.png)

Think this is an issue with Ember 2.9?

[2017-01-16 21:32] allthesignals commented on #42
Turned out to be a weird CSS issue.

[2017-01-16 21:32] #42 closed

[2017-02-27 19:27] kennethkalmer commented on #24
Sorry for letting this one sit so long, got merged into master via #43. Expect a release shortly

[2017-02-27 19:27] #24 closed

[2017-02-27 19:37] kennethkalmer commented on #24
v0.12.0 has just been released, thanks for your contributions!

[2017-02-27 19:39] kennethkalmer commented on #27
I think this got resolved in #39 and just released in v0.12.0. If you're still getting these issues then please reopen the issue.

Thanks for reporting and helping to improve the addon!

[2017-02-27 19:39] #27 closed

[2017-02-27 19:40] kennethkalmer commented on #30
Closing since we have #31 & #39 tackling this. Thanks for using the addon, and reporting an issue that helps make it better for everyone!

[2017-02-27 19:40] #30 closed

[2017-03-08 07:24] hoboman313 opened #45 "#44 breaks implementations based on nouislider ^9.0"
#44 was not implemented properly as npm forces the ~8 version of uislider for the lib and does not allow the lib user to override it inside their package.json ( as was the case with bower ). Please change "nouislider": "~8.5.1" to "nouislider": ">=8.5.1"

[2017-03-08 07:31] kennethkalmer commented on #45
Argh, thanks for reporting! Let me just test it with the latest version and then see how to setup an ember-try scenario for the latest 8.5.x, 8.x and 9.x scenarios.

The tests are very lacking at the moment, but I just want the right foundation for them in place.

[2017-03-08 08:20] kennethkalmer commented on #45
Actually, having a look now I saw 9.x has been out since September already and according to the release notes there shouldn't be any breaking changes... If all goes well I'll just bump the minimum version to 9.2.0

[2017-03-12 12:19] kennethkalmer commented on #45
@hoboman313 just released 0.13.0 with nouislider dependency bumped to "^9.2.0". Thanks for reporting, and sorry for the inconvenience caused.

[2017-03-12 12:19] #45 closed

[2017-03-12 18:48] hoboman313 commented on #45
Good stuff. Thx for the quick turnaround.

[2017-04-20 21:20] nag9329 opened #46 "Is there a way to add it as a standalone library"
Hi,

I have restrictions to use this module by ember install command. Is there a way I can copy the library into my project and use it?

Thanks!!!

[2017-04-21 20:23] kennethkalmer commented on #46
Hi

I'm really curious as to why you can't use ember-cli, please let me know why it isn't possible.

That said, here is what you could do, **but I strongly discourage you from doing this**. This is completely unsupported by myself and the Ember community at large... The community has settled on the way it does things for a reason, please understand that.

That said, this addon is only really one c

[2017-04-21 20:23] #46 closed

[2017-04-21 22:23] nag9329 commented on #46
hey @kennethkalmer thanks for your response.

Firstly, to clarify why I'm trying to include this as a standalone is Our company has to  vet the add on before we use it. Since, I'm trying to figure whether the add on can meet our requirements. So, I want to see how the add-on behaves before even I try to request for vetting process.

Secondly, I tried to include the add-on as standalone by download

[2017-05-03 13:35] kennethkalmer commented on #46
Hi @nag9329

A few things come to mind:

* Create a new ember project, and play with it
* It is an open source project on GitHub, it can be vetted right from here
* Create a new branch in your project and integrate the addon and then ask your peers to review the branch. If it doesn't work, delete the branch and carry on like nothing happened.

I simply cannot support what you're asking as it doesn

[2017-07-28 16:31] PieterJanVdb opened #47 "Multiple sliders updating simultaneously on mobile devices"
I'm currently using the plugin (last version) to render three sliders on the page in this fashion:

`{{range-slider score=score start=value range=range step=step on-change="change" on-update="update"}}`

Using a mouse I can slide them all independently and it works perfectly fine.
However, on eg. a tablet, if I move the slider on one of the three and then proceed to move the slider on another, bot

[2017-08-07 09:33] PieterJanVdb commented on #47
Update: the error mostly occurred because in the update action, I would also then set the start value on the range-slider and it would kind of lose its mind.

However, I do continuously get the following error while dragging (mobile):

Everything works fine but the error is fairly annoying. At some point is has also happened that I can not click on anything else in the view as the browser (mobile)

[2017-08-09 15:00] kennethkalmer commented on #47
Thanks for doing this investigation! I'm a bit swamped at the moment and will have a look by the weekend how to get this fixed for you!

[2017-08-31 04:45] tchan opened #48 "On hover behaviour?"
Hey there, I was just wondering if there was in built hover action handler similar to this example
https://refreshless.com/nouislider/behaviour-option/

Also another issue while reading the doc is that (http://kennethkalmer.github.io/ember-cli-nouislider/#/options) the first URL seems to be broken.

[2017-09-07 05:13] tchan commented on #42
Any idea on how to get the tooltip to look something similar to
https://refreshless.com/nouislider/examples/ ?
I'm struggling to show 0/1 decimal places

[2017-10-08 12:24] kennethkalmer commented on #48
Thanks for letting me know @tchan, I'll have a look at the the option and the broken link

[2017-10-08 13:55] kennethkalmer commented on #34
Apologies for dragging my feet on this, it will go out in the next release!

[2017-10-08 13:55] #34 closed

[2017-10-08 14:11] kennethkalmer commented on #47
@PieterJanVdb, I wonder if leongersen/noUiSlider#793 doesn't solve the issue. As of 2c57d2b414 we have nouislider 10.1.0 in with multitouch support, and as of 6c22ff89f I exposed the multitouch option. I'm going to try and replicate the issue myself now.

[2017-10-08 14:43] kennethkalmer commented on #47
@PieterJanVdb I would really like to get to the bottom of this, but I'm a bit lost.

Would it be possible for you to give me some sample code that shows the issue? You can create an [Ember Twiddle](https://ember-twiddle.com) and amend the `addons` section of `twiddle.json` to look like this:

[code]

It will then install ember-cli-nouislider as per 6c22ff89f8, and we can figure it out.

[2017-11-28 23:20] chriswhong opened #49 "Can many RangeSliders share the same action?"
I am currently trying to use a generic action to handle many range sliders.  The `on-change` option specifies the action, but I have no way of knowing which range slider triggered the action.  Is there any way to pass another argument to the action to identify which slider the user is interacting with?

[2017-11-28 23:22] chriswhong commented on #49
I think my workaround will probably just be to wrap the range slider in a new component, so I can hijack the action.

[2017-11-29 14:58] kennethkalmer commented on #49
Hmm, interesting idea. I have to ask though, would multiple actions not work better as it is very explicit what is going on? Or is this a case of many sliders added dynamically to the page (ie operating on items in a collection)?

[2017-11-29 16:56] chriswhong commented on #49
The issue is we may have 50 of these things on the page, and the action would just be doing the same thing for all 50 (updating a range array for a specific item in a collection).

I was able to wrap `range-slider` in a simple component, and pass in an id to the component.  It works like a charm, but would be nice to have in the range slider.

[2017-12-16 13:16] progand opened #50 "Add docs for changing slider values"
Reading source code I figured out that it's possible to change slider values through mutating `start` option.
Can you add an example of changing slider values?

[2018-01-26 02:53] hybridmuse opened #51 "noUi-background element nonexistent?"
Hi, in the original noUiSlider there's an element classed 'noUi-background' that can be used to color the slider's background (to make it contrast with the base). It's used on the Ember noUiSlider docs but the element can't be found when I actually use it. Am I just missing it somehow? Thanks

[2018-02-19 22:50] Techn1x opened #53 "Deprecation warning - Scheduling into the 'sync' run loop queue"
I've upgraded to Ember 3.0.0 and it seems this addon now causes a deprecation warning (although I jumped from 2.16 -> 3.0.0, so it could have been any version in between)

![capture](https://user-images.githubusercontent.com/1049837/36400034-51526fa0-161a-11e8-8578-3e902daca423.PNG)

Seems to happen when a slider is rendered on the page (don't even need to interact with it). The deprecation points

[2018-03-01 20:27] willviles commented on #53
I've got the same after - funnily enough - doing an upgrade from `2.16` -> `3.0.0`.

[2018-03-02 05:34] Techn1x commented on #53
It looks like this will be fixed anyway, when 1.0 of this addon is released
https://github.com/kennethkalmer/ember-cli-nouislider/pull/52

[2018-03-04 11:08] kennethkalmer commented on #53
Thanks for reporting, I'm gonna keep this open for others to find until #52 is merged in.

Could I ask you a favor please, could you help review and give some feedback over there if needed. I want as many eyes on this as possible!

[2018-03-08 16:20] ashrafhasson opened #55 "setting a computed range causes "Missing 'min' or 'max' in 'range'""
I tried to use the `range-slider` component with computed range property but that seems to cause noUiSlider to complain (eagerly) that it's "Missing 'min' or 'max' in 'range'." I tried to [await](https://github.com/fivetanley/ember-promise-helpers#await) the range value but it seems that it's evaluating the resultant promise and failing to render with the error above.

I wonder how this is done or

[2018-03-09 20:23] ashrafhasson commented on #55
I understand this is due to the fact that the `range` property must have already been settled when creating the noUISlider instance and that instance is created in the `didInsertElement` hook rather than `didReceiveAttrs` hook of the range-slider component? I wonder if it works to create my own wrapper component to wait for `range` to settle before rendering `range-slider` but even then I've alrea

[2018-04-11 15:33] allthesignals opened #59 "Ember 3.x compatibility?"
What steps do we need to take to get this to work with Ember 3.x? I'm seeing weird behavior (`Cannot read property 'on' of undefined`), and I'm not sure what the source is.

See log:
<details>

range-slider.js:76 Uncaught TypeError: Cannot read property 'on' of undefined
    at range-slider.js:76
    at Array.forEach (<anonymous>)
    at range-slider.js:74
    at invoke (backburner.js:205)
    at

[2018-04-11 15:36] allthesignals commented on #59
Wait, I am seeing this before the error now, as a _warning_:
`[ember-cli-nouislider]: Error: noUiSlider (10.1.0): 'range' is not an object.`

I'm confused - what does this object need to look like? It doesn't seem to be documented.

[2018-04-13 16:11] kennethkalmer commented on #59
Thanks @allthesignals for reporting, I'm gonna get #58 merged in and then we see if any issues remain

[2018-04-14 13:06] kennethkalmer commented on #59
@allthesignals could you test with 1.0.0-rc.2 (`ember install ember-cli-nouislider@next`) and let me know if there are any issues still? Otherwise feel free to close this issue.

[2018-04-14 13:08] kennethkalmer commented on #23
@samsebastian could you see if #57 resolves this issues for you? It has been published as part of 1.0.0-rc.2 (`ember install ember-cli-nouislider@next`). Please feel free to close the issue if this does what you need.

[2018-04-16 18:43] stephankaag opened #61 "setValue is triggered during slide-action"
The `setValue` function is triggered during slide-action. Is that as supposed?

Looks to me that shouldn't be the case because it is bad for performance to call `slider.set(value)` while sliding. Imho it should only be called when the value is set from outside.

[2018-04-17 07:10] kennethkalmer commented on #61
Oh snap, I'll have to dig into this and see. Thanks for reporting!

I'll get this out as part of the 1.0 release, which I'm planning to do the 28th of April.

[2018-04-17 15:31] allthesignals commented on #59
Thank you so much @kennethkalmer - this is working for us. I appreciate your help on this.

[2018-04-18 08:48] kennethkalmer commented on #59
The biggest thanks goes to @tchak who did the heavy lifting.
On Tue, 17 Apr 2018 at 17:31, Matt Gardner <notifications@github.com> wrote:

--

Kenneth Kalmer
@kennethkalmer
http://www.opensourcery.co.za

[2018-04-18 09:13] #59 closed

[2018-04-18 20:00] kennethkalmer commented on #61
I have absolutely know idea, _yet_. I've set aside some time on the weekend to dive into this.

[2018-04-26 21:02] kennethkalmer commented on #53
This has been published to npm as 1.0.0-rc.2, please test with ember install `ember-cli-nouislider@next` and please open any issues that you encounter.

[2018-04-26 21:02] #53 closed

[2018-04-26 21:08] kennethkalmer commented on #51
The `.noUi-background` class got removed in [version 9.0.0](https://github.com/leongersen/noUiSlider/blob/13f79d3d062c69f7174f44a5a6a7451babd4df0c/README.md#900-2016-09-26) of nouislider. You should use `.noUi-target` instead.

[2018-04-26 21:08] #51 closed

[2018-04-26 22:31] Techn1x commented on #53
Thanks @kennethkalmer the update works well, and no more deprecation warning :)

[2018-04-29 07:55] aariabov commented on #49
You can pass argument id of action:
`{{range-slider ... on-change=(action 'rangeSliderChanged' id)}}`
And take it in action:
`rangeSliderChanged(id, val) {
...
}`

[2018-04-29 11:50] stephankaag commented on #61
It might have something to do with my setup. I will investigate on my side and open a new issue if i have something reproducible.

[2018-04-29 15:31] stephankaag commented on #61
Ok. The issue is this:

- I have a model with an attribute 'amount' that is represented by a slider.
- When the slider is moved I want the amount attribute to updated.

My template:
[code]

The `setValue` function looks like this:

[code]

This way the model's amount is bound to the slider. However, this causes the problem that Ember decides to rerender the component while dragging because the pro

[2018-04-29 19:30] kennethkalmer commented on #61
Thanks for this! I'll have to play with it a bit and apply some thinking to
the problem.
On Sun, 29 Apr 2018 at 17:31, Stephan Kaag <notifications@github.com> wrote:

--

Kenneth Kalmer
@kennethkalmer
http://www.opensourcery.co.za

[2018-05-07 09:35] stephankaag commented on #61
Any clue?

[2018-05-17 20:09] jleja opened #65 "Unexpected range values when setting step"
I'm trying to set up a range slider using this addon, and noticed that, when setting the `step` option, that it sets the range steps to unexpected values.  For my particular case, I'm trying to set up a slider with a `min=0` and `max=18`.  If I set `step=1`, then I'd expect whole numbers (1, 2, 3, etc.) for the entire range, but instead, some values are displaying as floats.

To reproduce:
- Start

[2018-05-26 03:43] #23 closed

[2018-06-04 14:35] jleja commented on #65
Figured out a workaround for this, which was to simply override the `formatTo` and `formatFrom` formatters.

[2018-06-04 14:35] #65 closed

[2018-06-19 16:30] mihaelacurelea opened #66 "[ember-cli-nouislider]: Error: noUiSlider (11.1.0): 'range' is not an object."
I'm getting this warning when I try to include the range slider, and the slider is not being displayed:
`{{range-slider start=1 range=100}}`

`ember-console.js:24 [ember-cli-nouislider]: Error: noUiSlider (11.1.0): 'range' is not an object.`

I'm using : `DEBUG: Ember      : 3.0.0
ember-console.js:43 DEBUG: Ember Data : 3.0.2
ember-console.js:43 DEBUG: jQuery     : 3.3.1`

I'm not sure what the is

[2018-06-27 10:54] mihaelacurelea commented on #66
I managed to make it work like this:

I added this in the hbs file:
`{{range-slider
              range=range
              start=start
}}`

And this in the component.js file
`  didReceiveAttrs(){
    this._super(...arguments);
    this.set('start', [5, 10]);
    this.set('range', {
  		'min': -20,
  		'max': 40
  	});
  },`

I'll close this issue.

[2018-06-27 10:54] #66 closed

[2018-08-14 07:51] ondrejsevcik opened #67 "Observer is causing performance issues"
Hi, I've noticed that using observer in the range-slider causes performance issues.

The problematic part is observer on `start` attribute. I think it's not necessary, because on `didUpdateAttrs` method calls `update` which updates `start` property as well.

I've tried to remove completely that observer and it solved the performance issue for me.

here is an working example https://ember-twiddle.c

[2018-09-13 23:41] annaemu opened #69 "Property 'padding' is not passed to nouislider"
Property 'padding' is not passed to nouislider and subsequently usage of that with this addon does not work. https://refreshless.com/nouislider/slider-options/#section-padding

[2018-09-18 12:53] scottkidder commented on #69
This has been added in #62 and will hopefully get merged soon. I'm using it and it works as expected.

[2018-09-18 12:53] scottkidder commented on #67
I didn't notice any performance issues but I do agree that the observer is not necessary and should be removed.

[2018-09-18 13:02] ondrejsevcik commented on #67
![perf-issue](https://user-images.githubusercontent.com/4136929/45689246-c6653000-bb53-11e8-99bc-7be6168ef079.gif)

this is how it behaves on my computer (Mac - FF and Chrome)

[2018-09-18 14:00] scottkidder commented on #67
Yeah, very noticeable. Can you prepare a PR?

[2018-09-26 15:32] scottkidder commented on #49
Seems like this can be closed.

[2018-09-26 15:35] scottkidder commented on #41
The Ember way I see of doing this is creating a service to back the slider component, which seems weird. I see no problems with using DDAU to manage this component and it's values.

[2018-10-08 09:33] oscarni opened #72 "How to set slider value programatically?"
I've tried setting `start` the ember way, but it only works once. like in you animate example under Options http://kennethkalmer.github.io/ember-cli-nouislider/#/options

Eg sliding the slider somewhere and then clicking "set sliders" will change the slider to the new position, but if I slide the slider again and then click set sliders again nothing happens.

Is there a way to get the noUISlider o

[2018-10-15 19:48] HerveSeger opened #73 "Deprecation msg on the use of sendAction thrown in Ember 3.4.x"
Hi.

Thank you for this very useful addon.

I get the following message in the console with ember-cli-nouislider `v1.0.0`:

[code]

Thanks.

[2018-10-21 19:05] oscarni commented on #72
Ah, eventually made it work!

I had to set the start value in my controller in my `on-change` action in order for the start value to update and the start-observer would run. Now and the "binding" to the value works as expected. 👍

[2018-10-21 19:05] #72 closed

[2018-11-10 21:57] puwelous commented on #73
Should be solved in [release v1.1.0](https://github.com/kennethkalmer/ember-cli-nouislider/releases/tag/v1.1.0) via https://github.com/kennethkalmer/ember-cli-nouislider/pull/74

[2018-11-12 20:38] HerveSeger commented on #73
Great! I will update then.

Thanks a lot.

[2018-11-12 20:38] #73 closed

[2018-12-17 10:42] markgulisao commented on #23
Hi is there a way to change the slider icon into fa fa-calendar-plus-o icon for example?
or include icons such as this within the slider bar itself?

[2019-06-26 08:33] petermanders89 opened #76 "Deprecation warnings:"
Currently we are using ember version 3.10 and we get these deprecation warnings:

- The <component:range-slider::ember6391>#range computed property was just overriden. This removes the computed property and replaces it with a plain value, and has been deprecated. If you want this behavior, consider defining a setter which does it manually.

- The <component:range-slider::ember6391>#format computed

[2019-07-11 10:40] Dzieni commented on #65
Workaround is not a solution. Could this one be reopened, please?

[2019-08-15 11:04] Zeeyed commented on #76
I already faced this deprecation and this is how I fix it.

Instead of passing `range` and `format` props to your `nouislider-component` as computed properties, try to pass `min, max, from, to` props. Then where you defined your `nouislider-component` create `range` and `format` as setters.

Passing down your properties when you call your component
[code]

Where you defined your `nouislider-compon

[2020-01-24 14:44] petermanders89 commented on #76
Closing this issue, seems to be a wrong implementation on my end.  Was doing the following:

[code]

Should've done the following:

[code]

[2020-01-24 14:44] #76 closed

[2020-02-28 09:09] #61 closed

[2020-02-28 09:17] kennethkalmer commented on #69
This has been added, I'm preparing a new release.

[2020-02-28 09:17] #69 closed

[2020-02-28 09:19] #49 closed

[2020-03-27 09:26] vdvibhu20 commented on #59
@kennethkalmer This still does not work for me. i am using ember-cli v3.13 and ember-cli-nouislider 1.2.1
Get a warning `[ember-cli-nouislider]: Error: noUiSlider (14.1.1): 'range' is not an object.`
and error `TypeError: Cannot read property 'on' of undefined`
can't say how it worked for @allthesignals .

[2020-03-27 09:59] kennethkalmer commented on #59
@vdvibhu20 I think something else is amiss, maybe the new noUISlider version? Mind opening a new issue for us with a bit more detail? We've support Ember 3 for ages now

[2020-03-27 14:01] vdvibhu20 opened #85 "Error: Cannot read property 'on' of undefined"
Getting a warning `[ember-cli-nouislider]: Error: noUiSlider (14.1.1): 'range' is not an object.`
and error `TypeError: Cannot read property 'on' of undefined`

<details>
Uncaught (in promise) TypeError: Cannot read property 'on' of undefined </br>
    at range-slider.js:84 </br>
    at Array.forEach (<anonymous>) </br>
    at Class.setup (range-slider.js:80) </br>
    at Class.didInsertElement (r

[2020-03-30 13:56] vdvibhu20 commented on #59
Sure thing

[2020-04-02 17:18] miketervela commented on #85
I think the problem here is that the warning prevents the slider form rendering, which then causes the Error when the component tries binding to the non-existent slider. What are you passing to the range property of the component?

[2020-04-16 16:43] miketervela opened #86 "Overriding Range as described in online docs is deprecated in Ember 3.9+"
Some of the documentation's example show passing in a new range property.
eg: http://kennethkalmer.github.io/ember-cli-nouislider/#/options
[code]
Since range is a computed property, starting in Ember 3.9 you will see a deprecation warning that this behavior will be going away (though not until 4.0)
https://deprecations.emberjs.com/v3.x/#toc_component-manager-string-lookup

[2020-04-23 21:50] cmackenz opened #87 "Cannot update `max` value after initial render"
When updating the max value I would expect the slider to respond to this new value, but unfortunately it does not.

The only way I have found to update this value in realtime is to force rerender the component.

[code]

Basically, I observe the `calculatedTotal` change and then toggle the `sliderReady` value from true to false, and then back to true. This will rerender the `range-slider` with the

[2020-05-18 10:04] Sateeshwaran commented on #85
same I'm also facing this issue.  Below are the values that i'm passing
{{range-slider

                start= 20
               min=0
               max=100
               step=10
               connect=true
               on-change=(action "myAction")
}}

[2020-05-18 14:22] miketervela commented on #85
@Sateeshwaran Are you passing in those constants, or binding to properties? If the range-slider tries to render before a computed property has a valid value, you could see that error.

Also, I'm not sure if you're getting the same warning as the original poster (range is not an object) or just the error in the issue title.   If you are just referring to the "cannot read property 'on' of undefined"

[2020-06-03 10:26] rreckonerr commented on #87
The same issue affects "direction" option!

[2020-06-30 11:24] arnebit opened #91 "`slider` is undefined in integration test, leading to failure with "Cannot read property 'on'/'off' of undefined""
I just added this component to an ember 3.12 app and now the integration test for the component using the `range-slider` fails:

1. TypeError: Cannot read property 'on' of undefined
    at range-slider.js:75
    at Array.forEach (<anonymous>)
    at Class.setup (range-slider.js:71)
    at Class.didInsertElement (range-slider.js:50)
    at Class.trigger (core_view.js:69)
    at Class.superWrapper [

[2020-07-27 11:38] maxymczech opened #93 "on-start and on-end still use deprecated sendAction method"

[2020-07-27 11:43] maxymczech commented on #93
#94

[2020-09-30 16:06] knownasilya commented on #85
In my case I was passing a number for @opacity, not `[number]`

[2021-02-22 14:12] LucMorrissette commented on #50
@progand This old comment as just saved me a _lot_ of headaches. Thank you!

[2021-12-03 17:34] skaverg opened #104 "New Ember Version 3.25 to 3.28 throws error on build of ember-cli-nouislider template"
ERROR Summary:

  - broccoliBuilderErrorStack: TypeError: Cannot read property 'start' of undefined
    at Source.spanFor (/home/skaria/dev/abc/node_modules/ember-source/dist/ember-template-compiler.js:9155:26)
    at BlockContext.loc (/home/skaria/dev/abc/node_modules/ember-source/dist/ember-template-compiler.js:14278:26)
    at ElementNormalizer.attr (/home/skaria/dev/abc/node_modules/ember-sour